@{
    ViewData["Title"] = "Sobre";
}
<h1 >@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>


<p>Aluno: @ViewData["Aluno"]</p>
<p>Email: @ViewData["email"]</p>
<p>Contato: @ViewData["contato"]</p>

<address>
    <strong>More Information: </strong> <a href="https://github.com/ClaudioOliver"> github.com/ClaudioOliver</a>
</address>

